<div class=" bg-body-secondary text-center row sticky-bottom">
    <!-- Grid container -->
    <div class="container p-4 pb-2">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
                <blockquote class="blockquote mb-0">
                    <p>"A dog is the only thing on earth that loves you more than you love yourself."</p>
                    <p class="blockquote-footer">Josh Billings.</p>
                </blockquote>
            </div>
        </div>
        <!--Grid row-->
    </div>
</div>